:root
{
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{    
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     position: relative;
     align-items: center;
     background-color:  var(--Lightgray);
     font-size: 1rem;
}

main
{
 display: flex;
 justify-content: center;
}

.QR-code
{
  width: 20rem;
  height: 31rem;
  text-align: center;
  background-color: var(--White);
  border-radius: 1.2rem;
  font-family: 'Outfit', sans-serif;
  box-shadow: 0 0.5rem 0.6rem 0 rgba(0,0,0,0.1);
    
}

.QR
{
    margin-top: 1rem;
    border-radius: 0.8rem;
}

h1
{
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}

p
{
    margin: 1rem;
    width: 18rem;
    font-size: 1.0rem;
    text-align: center;
    color: var(--Grayishblue);
}